{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="display-5 fw-bold text-dark">División de Administración</h1>
        <p class="lead text-secondary my-3">Sistema de Control de Asistencia y Emisión de Constancias</p>
        <hr class="my-4">
        <p>Selecciona una opción para comenzar con la gestión de eventos académicos.</p>
        <a href="/admin" class="btn btn-primary btn-lg mt-2">Ir al Panel de Administración</a>
    </div>
</div>
{% endblock %}